.card-item{
    width: 200px;
    height: 100px;
    margin: 30px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.delete-btn{
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    color: red;
    background: whitesmoke;
    padding: 3px;
    font-size: 15px;
    top: 0;
    right: 0;
}

.white-color{
    color: white;
}