.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.list-mess{
    text-align: center;
    color: crimson;
    font-family: sans-serif;
    margin-top: 1rem;
}

.main-card-cont{
    padding: 5rem 0;
}

@media screen and (max-width:600px) {
    .list-mess{
        margin-top: 1.5em;
        font-size: 24px;
    }
}
@media screen and (max-width:475px) {
    .list-mess{
        margin-top: 4em;
    }
}
@media screen and (max-width:325px) {
    .list-mess{
        margin-top: 7em;
    }
}
