.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.list-mess{
    text-transform: capitalize;
    text-align: center;
    color: crimson;
    font-family: sans-serif;
}