footer{
    background-color: cornflowerblue;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 16px 0;
}

footer > p {
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
    color: cornsilk;
}

.up-btn{
    background: none;
    outline: none;
    border: none;
    position: fixed;
    cursor: pointer;
    height: 13.33px;
    bottom: 12%;
    right: 1.8%;
}

.up-btn svg{
    transition: all ease 0.5s;
    color: rgb(9, 79, 207);
}

.up-btn svg:hover{
    color: rgb(53, 96, 177);
}
